.terminal {
    background-color: black;
    color: pink;
    font-family: monospace;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  
  .output {
    padding: 10px;
  }
  
  .output .input {
    color: green;
    padding: 10px;
  }
  
  .input {
    background-color: black;
    border: none;
    color: white;
    font-family: monospace;
    font-size: inherit;
    padding: 10px;
    width: 90%;
    height: 10px;
   
    
  }

  .input:focus{
    outline: none;
  }

 
  label {
   
    font-size: 12px;
    color: palevioletred;
    height: auto;
    width: auto;
    vertical-align: middle;
    text-align: left;
    float:left;
}
.oneline{
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
}